
* {
	box-sizing: border-box;
	
}

body{
	background-color: #f2f2f2;
}


header{
    width: 100%;
    height: 600px;
    justify-content: space-between;
    background-image: url('../img/capa-madmax2.jpg');
	background-size: cover;
	
	background-attachment: fixed;
	font-family: "Montserrat",sans-serif;
}

header::after{
	background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
    content: "";
    height: 90%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

 

.cabecalho{
	width: 71%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
	margin: 0 auto;
	padding-top: 20px;
	font-weight: bold;
	font-size: 0.7em;
	z-index: 2;
}

.cabecalho .logo{
	z-index: 2;
}
.cabecalho .navigation ul{
    display: flex;
    align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.cabecalho .navigation ul li{
    list-style: none;
    margin:0 25px;
	text-transform: uppercase;
	z-index: 2;
}

.cabecalho .navigation ul li a{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
    font-size: 1.2em;
}

.cabecalho .navigation ul li a:hover{
    color: #e8c640;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
    color: white;
}

.profile p{
	margin-left: 15px;
	font-size: 1.3em;
	font-weight: bold;
	z-index: 2;
}

.profile img{
    width: 45px;
    height: auto;
	border-radius: 50%;
	z-index: 2;

}



.headerContent{
	
    margin-left: 14%;
    margin-top: 130px;
    display: flex;
    align-items: flex-start;
	
    flex-direction: column;
    justify-content: space-between;
	width: 70%;
	z-index: 2;
}


.headerContent h2{
    color: white;
    text-transform: uppercase;
	font-size: 4.1em;
	line-height: 1.2em;
	font-weight: bold;
	margin: 0;
	margin-bottom: 15px;
	z-index: 2;
}

.links-estilos{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	z-index: 2;
}

.links-estilos a{
	margin-right: 15px;

	text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: color 0.2s ease-in-out;

}

.links-estilos a:hover{
    color: #e8c640;
}

.link-buttom{
    color: #000;
    position: relative;
    text-decoration: none;
    background-color: #e8c640;
	padding: 15px 40px;
	padding-right: 16px;
    border-radius: 40px;
	transition: background-color 0.2s ease-in-out;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.9em;
	z-index: 2;
}

.link-buttom:hover{
	background-color: #bc9a1d;
}

.link-buttom i{
	color: black;
	font-size: 20px;
	margin-left: 15px;
	
}

.headerContent p:first-of-type{
	color: white;
	margin:0px;
	margin-top: 30px;
	z-index: 2;
}

.headerContent p:first-of-type + p{
	color: #e8c640;
	z-index: 2;
}

.site-content{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	justify-items: center;
	align-content: center;
	margin-left: 15%;
	font-family: "Montserrat",sans-serif;
	margin-bottom: 20px;
}

.site-content ul{
	
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	list-style: none;
	padding: 10px 20px 0px 20px;
	
}

.site-content ul li{
	margin: 0 20px;
	text-transform: uppercase;
	color: #e8c640;
	padding: 0 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}



.site-content ul li a{
	text-decoration: none;
	color: #e4bb23;
	font-family: "Montserrat",sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	padding-bottom:26px;
	transition: border-bottom 0.2s ease-in-out; 
	display: inline-block;
}

.site-content ul li a:hover{
	border-bottom: 1px solid rgba(228,187,35,1);
	padding-bottom: 25px;
}



.cartazes{
	width:100%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	border-radius: 8px;
}

.cartaz{
	width: 24%;
	height: 100%;
	border-radius: 10px;
	background-color: white;
	margin: 10px 0px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	position: relative;
	transition: visibility 0.2s ease-in-out;
}

.cartaz img{
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	transition: filter 0.2s ease-in-out;
	
}





.cartaz .image-content{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	width: 100%;
	height: 78%;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	padding: 80px 20px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	visibility: hidden;
	transition: all 0.2s ease-in-out;
}

.cartaz:hover .image-content{
	opacity: 1;
	visibility: visible;
}



.cartaz .image-content h3{
	color: #e4bb23;
	
	text-transform: uppercase;
}

.cartaz .image-content a{
	color: #FFF;
	font-size: 3em;
	
}

.cartaz .image-content a:hover{
	color: #e4bb23;
}



.content-cartaz{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 0.8em;
	height: 90px;
	padding: 10px;
}

.content-cartaz .titulo{
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}

.content-cartaz .generos{
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.content-cartaz .genero{
	font-size:0.8em;
	color:#e4bb23;
	text-decoration: none;
	padding-bottom: 1px;
}

.content-cartaz .genero:hover{
	border-bottom: 1px solid #e4bb23;
	padding-bottom: 0px;
}

.content-cartaz .cartaz-icons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 20px;
	height: 40px;
}

.content-cartaz .cartaz-icons p{
	font-weight: bold;
}

.content-cartaz .cartaz-icons i{
	color: #ccc;
	transition: color 0.2s ease-in-out;
	
}

.content-cartaz .cartaz-icons i:hover{
	color:#ff0080;
}

footer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	padding: 30px 0;

}

footer img{
	margin-right: 400px;
}

footer .redes-sociais{
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



footer .redes-sociais a{
	font-size: 1.5em;
}

footer .redes-sociais a i{
	color: #ccc;
	font-size: inherit;
	transition: color 0.2s ease-in-out;
}

.fa-twitter:hover{
	color:#00acee;
}

.fa-facebook-square:hover{
	color:#3b5998;
}

.fa-instagram:hover{
	color:#e1306c;
}
